<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinet.jeesns.dao.group.IGroupDao">
  <resultMap id="GroupResult" type="Group">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="managers" jdbcType="VARCHAR" property="managers" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="can_post" jdbcType="INTEGER" property="canPost" />
    <result column="topic_review" jdbcType="INTEGER" property="topicReview" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="listByPage" resultMap="GroupResult">
    /*select a.id,a.create_time,a.name,a.logo,a.creator,a.creator as 'creatorMember.id',a.managers,a.tags,a.introduce,
    a.can_post,a.status,a.topic_review,(select count(c.id) from tbl_group_topic as c where c.group_id=a.id and c.status=1) as topicCount,
    (select count(*) from tbl_group_fans as d where d.group_id=a.id) as fansCount,
    b.name as 'creatorMember.name' from tbl_group as a left join tbl_member as b on a.creator=b.id*/
    SELECT
    a.id,a.create_time,a.name,a.logo,a.creator,a.creator as 'creatorMember.id',a.managers,a.tags,a.introduce,
    a.can_post,a.status,a.topic_review,
    count(c.id) AS topicCount,
    count(e.id) as topicComment,
    (
    SELECT
    count(*)
    FROM
    tbl_group_fans AS d
    WHERE
    d.group_id = a.id
    ) AS fansCount,
    b. NAME AS 'creatorMember.name'

    FROM
    tbl_group AS a
    LEFT JOIN
    tbl_member AS b ON a.creator = b.id
    LEFT JOIN
    tbl_group_topic c on a.id=c.group_id
    LEFT JOIN
    tbl_group_topic_comment e on e.group_topic_id = c.id
    <where>
      <if test="key != null and key != ''">
        and a.name LIKE #{key}
      </if>
      <if test="status &gt; -1">
        and a.status=#{status}
      </if>
    </where>
    group by a.id DESC
  </select>


  <select id="findById" parameterType="java.lang.Integer" resultMap="GroupResult">
    select a.id,a.create_time,a.name,a.logo,a.creator,a.creator as 'creatorMember.id',a.managers,a.tags,a.introduce,
    a.can_post,a.status,a.topic_review,(select count(c.id) from tbl_group_topic as c where id=a.id and c.status=1) as topicCount,
    (select count(*) from tbl_group_fans as d where d.group_id=a.id) as fansCount,
    b.name as 'creatorMember.name' from tbl_group as a left join tbl_member as b on a.creator=b.id where a.id = #{id}
  </select>
  <select id="listByFollow" resultMap="GroupResult">
    select a.id,a.create_time,a.name,a.logo,a.creator,a.creator as 'creatorMember.id',a.managers,a.tags,a.introduce,
    a.can_post,a.status,a.topic_review,(select count(c.id) from tbl_group_topic as c where id=a.id and c.status=1) as topicCount,
    (select count(*) from tbl_group_fans as d where d.group_id=a.id) as fansCount,
    b.name as 'creatorMember.name' from tbl_group as a left join tbl_member as b on a.creator=b.id
    WHERE a.status = 1 AND d.member_id = #{memberId}
    order by a.id DESC
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from tbl_group where id = #{id}
  </delete>
  <insert id="save" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_group(create_time,name,logo,creator,managers,tags,introduce,can_post,topic_review,status)
    values(now(),#{name},#{logo},#{creator},#{managers},#{tags},#{introduce},#{canPost},#{topicReview},#{status})
  </insert>
  <update id="update" parameterType="Group">
    update tbl_group
    <set>
      <if test="name != null">name = #{name},</if>
      <if test="logo != null">logo = #{logo},</if>
      <if test="tags != null">tags = #{tags},</if>
      <if test="managers != null">managers = #{managers},</if>
      <if test="introduce != null">introduce = #{introduce},</if>
      <if test="canPost != null">can_post = #{canPost},</if>
      <if test="topicReview != null">topic_review = #{topicReview},</if>
      <if test="status != null">status = #{status},</if>
    </set>
    where id = #{id}
  </update>
  <update id="changeStatus">
    update tbl_group set status=(CASE WHEN status=0 THEN 1 ELSE 0 END) where id = #{id}
  </update>

  <!--主页index下的群组列表-->
  <select id="listByCustom" resultMap="GroupResult">
    select a.id,a.create_time,a.name,a.logo,a.creator,a.creator as 'creatorMember.id',a.managers,a.tags,a.introduce,
    a.can_post,a.status,a.topic_review,(select count(c.id) from tbl_group_topic as c where c.group_id=a.id and c.status=1) as topicCount,
    (select count(*) from tbl_group_fans as d where d.group_id=a.id) as fansCount,
    b.name as 'creatorMember.name' from tbl_group as a left join tbl_member as b on a.creator=b.id
    <where>
      <if test="status &gt; -1">
        and a.status=#{status}
      </if>
    </where>
    ORDER BY
    <choose>
      <when test="sort == 'id'">
        a.id
      </when >
      <when test="sort == 'topicCount'">
        topicCount
      </when >
      <otherwise>
        a.id
      </otherwise>
    </choose>
    DESC
    limit 0,#{num}
  </select>

  <select id="list" resultMap="GroupResult">
    select * from tbl_group
  </select>

  <select id="groupList" resultMap="GroupResult">
    select * from tbl_group where status=1
  </select>


</mapper>