/*login*/
.loginHeader{
    height:35px;
    background:#ca1828;
    line-height:35px;
    color:#fff;
    font-size:14px;
}
.animated{
    background-color: #fcfcfc;
}
.ibox img{
    display: block;
    margin: 0px auto 30px;
}
.ibox-content img{
    display: block;
    margin: 0px auto 30px;
}
.row{
    margin: 0 auto;
    max-width: 1200px;
}
.ibox{
    width: 335px;
}
.ibox-content{
    width: 335px;
}